<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('' , size: ''), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">チームの情報を入力</h2>
    <%= form_with url: "/users/:user_id/teams", method: :post, local: true do |f| %>

    <% if @team.errors.any? %>
    <%= render 'shared/error_messages', model: f.object %>
    <% end %>

    <div class="img-upload"> 
      <div class="weight-bold-text">
        チーム紹介画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :teamimage, id:"item-image" %>
      </div>
    </div>

    <div class="new-items">
      <div class="weight-bold-text">
        チーム名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :teamname, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
    </div>
    <div class="new-items">
      <div class="weight-bold-text">
      <div class="form-group">
    </div>
  </div>

    <div class="items-detail">
      </div>
      <div class="form">
        <div class="select-block">
        <div class="weight-bold-text">
          創立年度
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :year, class:"items-text", id:"item-name", placeholder:"例）2000（半角数字)"%>
        </div>
        <div class="select-block">
        <div class="weight-bold-text">
          活動中の都道府県
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"selectbox", id:"item-prefecture"}) %>
        </div>
        <div class="select-block">
        <div class="weight-bold-text">
          メンバーの平均年齢
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"selectbox", id:"item-prefecture"}) %>
        </div>
        <div class="select-block">
        <div class="weight-bold-text">
          活動頻度
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:frequency_id, Frequency.all, :id, :name, {}, {class:"selectbox", id:"item-prefecture"}) %>
        </div>
        <div class="select-block">
        <div class="weight-bold-text">
          要求する野球レベル
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:level_id, Level.all, :id, :name, {}, {class:"selectbox", id:"item-prefecture"}) %>
        </div>
        <div class="select-block">
        <div class="weight-bold-text">
          メンバー募集有無
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:offer_id, Offer.all, :id, :name, {}, {class:"selectbox", id:"item-prefecture"}) %>
        </div>
      </div>
      
      <div class='form-text-wrap'>
        <label class="form-text">戦績</label>
      </div>
      <div class='input-name-wrap'>
        <%= f.text_area :achievement, class:"input-name", id:"last-name", placeholder:"例) 2020年都道府県大会優勝" %>
      </div>
      <div class='form-text-wrap2'>
        <label class="form-text">活動場所</label>
      </div>
    <div class='input-name-wrap'>
      <%= f.text_area :location, class:"input-name", id:"last-name", placeholder:"例) 全国大会出場経験あり" %>
    </div>
    </div>
    <%# /配送について %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>